@use "../../styles/placeholders" as *;
@use "../../styles/variables" as *;

.wrapperStyling {
  background-color: $extrablack;
  padding-bottom: 100px;
}

.topBox{
    width: 100%;
    height: 20px;
    background-color: $black;
}

@media screen and (min-width: 1025px){
    .topBox{
        height: 30px;
        margin-bottom: 100px;
    }
}

.light {
  background-color: $white;

  .topBox{
    background-color: $darkbrown;
}
}
